<div class="draft-banner">
  <h5>COVID-19 Safety:</h5>
  <p>We are open for business, and have taken <a href="/covid-safety/">these steps</a> to ensure health and safety of our patients.</p>
</div>
<style type="text/css">
  .draft-banner{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    z-index: 2000;
    font-size: 12px;
    width: 100%;
    background-color: #c10808;
    min-height: 60px;
    padding: 16px 8px;
    letter-spacing: .01em;
  }
  .draft-banner > p, .draft-banner > h5, .draft-banner {
    color: white !important;
    margin-bottom: 0;
    text-align: center;
  }
  .draft-banner a, .draft-banner a:hover, .draft-banner a:visited, .draft-banner a:active {
    color: #fff !important;
  }
</style>
