<h2 class="title text-center"><span class="underlined blue">ASIRD Membership</span></h2>
<div class="row d-flex align-items-center">

  <div class="col-md-3">
    <div class="img-fluid">
      <img data-src="/img/asird-logo.png" alt="">
    </div>
    <br />
  </div>
  
  <div class="col-md-9 text-left">
    <h5>American Society of Implant and Reconstructive Dentistry</h5>
    <p>{% if site.doctor.name-2 %}{{site.doctor.name-1}} and {{site .doctor.name-2}} are members of{% else %}{{site.doctor.name}} is a member of{% endif %} the American Society of Implant and Reconstructive Dentistry <a href="http://www.asird.org/" target="_blank">(ASIRD)</a>. ASIRD is committed to improving the quality of care for dental implant patients by elevating the standards of surgical and restorative dental education and practice. Not every dentist routinely restores and maintains dental implants and not all placers of dental implants are surgeons. By using an ASIRD team, rest assured that your dentist routinely restores and maintains dental implants and only a trained surgeon will place your implant.</p>
  </div>
  <br />
</div>
