<div class="care-credit-and-forms">
  <h3 class="care-credit-header">We Accept Care Credit</h3>
  <div style="background-color: #fff !important;" id="care-credit-widget"><script>var syfWidgetObject = {};syfWidgetObject.flowType='GENERIC';syfWidgetObject.subFlowType='CARECREDIT';syfWidgetObject.syfMerchantId='5348120285916557';window.addEventListener('DOMContentLoaded', async () => await _syfSpyInit());const _syfSpyInit = async () => { var scriptElement=document.createElement('script');scriptElement.type='text/javascript';scriptElement.src='https://pdpone.syfpos.com/mpp/UniFi.js';scriptElement.id='syfMPPScript';document.head.insertAdjacentElement('afterBegin', scriptElement);}</script></div>
  <div class="new-patient-button-wrapper" style="margin-top: 50px;">
    <a href="/new-patients/"><button type="button" class="request-button light">New Patient Forms</button></a>
  </div>
</div>
